<%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <div class="radio_button">
        <%= f.radio_button :test, 1 %> 緊急
        <%= f.radio_button :test, 2 %> 普通
        <%= f.radio_button :test, 3 %> 独言
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "お名前" , :class => "col-sm-3 control-label"%>
      <div class="col-sm-7">
        <%= f.text_field :name, class: "form-control" %>
      </div>
  </div>
  
  <div class="form-group">
    <%= f.label "年齢" , :class => "col-sm-3 control-label"%>
      <div class="col-sm-7">
        <%= f.text_field :age, class: "form-control" %>
      </div>
  </div>
  
  
  
  <div class="form-group">
    <%= f.label "つぶやき" , class: "col-sm-3 control-label" %>
      <div class="col-sm-7">
        <%= f.text_area :body, class: "form-control", :rows => 6  %>
      </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <%= f.submit "書き込む" ,class: "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>