<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      
      <% if message.test == 1 then %>
      <span class="label label-danger">緊急</span>
      <% elsif message.test == 2 then  %>
      <span class="label label-success">普通</span>
      <% else %>
      <span class="label label-warning">独言</span>
      <% end %>
      </span>
      
      <%= message.body %>
      <hr />
    <% end %>
  </div>
</div>

<%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <%= f.label "お名前" , :class => "col-sm-3 control-label"%>
      <div class="col-sm-7">
        <%= f.text_field :name, class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <div class="radio_button">
        <%= f.radio_button :test, 1 %> 緊急
        <%= f.radio_button :test, 2 %> 普通
        <%= f.radio_button :test, 3 %> 独言
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "つぶやき" , class: "col-sm-3 control-label" %>
      <div class="col-sm-7">
        <%= f.text_area :body, class: "form-control", :rows => 6  %>
      </div>
  </div>
 
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <%= f.submit "書き込む" ,class: "btn btn-sm btn-primary" %>
    </div>
  </div>


<% end %>